$green: #00A75D;
$green-light: #00A75D20;
$green-gradient: linear-gradient(270deg, #45CD91 0%, #00A75D 100%);

$gray: #E2E2E2;

$orange-gradient: linear-gradient(87.01deg, #FF9446 0%, #FFB077 101.47%);

$blue:rgba(241, 255, 249, 0.5);
$blue-gradient: linear-gradient(86.99deg, #4659FF 0%, #757AFF 102.31%);

$button-basket: linear-gradient(180deg, #45CD91 0%, #00A75D 100%);

$white: #FFFFFF;

$black: #101010;
$black-light: #10101050;